body {
  margin: 0;
}

#logo img {
  width: 100px;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  padding: 5px;
}

.header a {
  color: white;
  text-decoration: none;
}
